.social-link {
    width: 115px;
    justify-content: center; // Center the content horizontally
    text-decoration: none; // Remove underline from links
    margin: auto;
  }

  .social-link img {
    width: 40px;
    height: auto;
    margin: auto;
    padding: auto;
    justify-content: center;
  }

