/* Responsive one-to-two columns layout */
.responsive-one-to-two-columns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  @media (min-width: 1400px) {
    .responsive-one-to-two-columns {
      flex-direction: row;
      justify-content: space-between;
    }
    
    .responsive-one-to-two-columns > section {
      width: 50%;
      max-width: 50%;
      flex: 0 0 50%; /* This ensures the flex item doesn't grow or shrink */
    }
  }
  