/* Etna for headings */
@font-face {
    font-family: 'Etna';
    src: url('../fonts/etna-free-font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Actor';
    src: url('../fonts/Actor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Funnel Display Variable Font */
@font-face {
    font-family: 'Funnel Display';
    src: url('../fonts/FunnelDisplay-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

/* Apply fonts to elements */
h1,h2  {
    font-family: 'Etna', sans-serif !important;
    font-weight: 200;
    text-align: center;
    opacity: 0.9;
}

h1 {
    font-size: 3rem !important;
}

h2 {
    font-size: 2.5rem !important;
}


h3, h4, h5, h6, span, li {
    font-family: 'Funnel Display', sans-serif !important;
    font-weight: 400; /* You can adjust this between 100-900 */
}

p {
    font-family: 'Actor', sans-serif !important;
}