// Colors/Badges.scss

// Language Badges - use two selectors to increase specificity over bootstrap
.django-badge.django-badge {
    background-color: #092e20 !important; // getting recognised, however appears overridden by bootstrap primary color
  }

.cloudinary-badge.cloudinary-badge {
    background-color: #1b52d4 !important;
  }

.html-badge.html-badge {
    background-color: #f16529 !important;
  }

.css-badge.css-badge {
    background-color: #2965f1 !important;
  }

.python-badge.python-badge {
    background-color: #306998 !important;
  }

.html-badge.html-badge {
    background-color: #f16529 !important;
  }
  
  .css-badge.css-badge {
    background-color: #2965f1 !important;
  }

  .javascript-badge.javascript-badge {
    background-color: #f0db4f !important;
  }

  .react-badge.react-badge {
    background-color: #61dbfb !important;
  }

  .framer-badge.framer-badge {
    background-color: #0055ff !important;
  }

  .nextjs-badge.nextjs-badge {
    background-color: #000000 !important;
  }

  .nodejs-badge.nodejs-badge {
    background-color: #68a063 !important;
  }

  .postgresql-badge.postgresql-badge {
    background-color: #336791 !important;
  }

  .react-badge.react-badge {
    background-color: #61dbfb !important;
  }

  .reactbootstrap-badge.reactbootstrap-badge {
    background-color: #7952b3 !important;
  }

  .vercel-badge.vercel-badge {
    background-color: #000000 !important;
  }

  .github-pages-badge.github-pages-badge {
    background-color: #181717 !important;
  }

  .bootstrap-badge.bootstrap-badge {
    background-color: #7952b3 !important;
  }

  .jquery-badge.jquery-badge {
    background-color: #0769ad !important;
  }