/* Import custom fonts */
@import url('./typefaces_import.css');

/* Import Google Fonts for fallback */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Montserrat:wght@100..900&family=Roboto+Mono&display=swap');

/* Funnel Display Variable Font for headings */
@font-face {
    font-family: 'Funnel Display';
    src: url('/fonts/FunnelDisplay-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Actor';
    src: url('/fonts/Actor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GlacialIndifference for paragraphs */
@font-face {
    font-family: 'GlacialIndifference';
    src: url('/fonts/GlacialIndifference-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GlacialIndifference';
    src: url('/fonts/GlacialIndifference-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Primary font */
.banner-title > span, .navbar__title, h1, h2, h3, h4, h5, h6, .sidebar-title, .menu__link, .navbar__link, .navbar__text, .table-of-contents__title, .table-of-contents__link {
    font-family: 'Funnel Display', 'Alegreya', serif !important;
}

code {
    font-family: 'Roboto Mono', monospace !important;
}

/* Secondary Font */
* {
    font-family: 'IBM Plex Serif', 'Roboto Mono', serif, monospace;
}


/* Apply fonts to elements with fallbacks */
h1, h2, .sidebar-title {
    font-weight: 700;
    color: var(--text-color) !important;
}

.sidebar-title {
    opacity: 0.9;
}

h1 {
    font-size: 3rem !important;
}

/* Default h2 headings - 3.5rem for main projects page */
h2 {
    font-size: 3.5rem !important;
}

/* Archive and Certifications pages h2 headings - 2.5rem */
.archive-page h2,
.certifications-page h2 {
    font-size: 2.5rem !important;
}

.banner-title span {
    font-weight: 700;
}

.theme-doc-sidebar-item-link, 
.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu__link,
.theme-doc-sidebar-item-category > .menu__list-item-collapsible > .menu__link {
    font-weight: 700 !important;
}

.menu__link--active {
    font-weight: 700 !important;
}

.navbar__title {
    font-size: 1.5rem !important;
    margin-left: 10px !important;
    font-weight: 500 !important;
}