@import './colors.scss';
@import './Colors/Badges.scss';
@import './Typography.module';

@import './Banner/BannerMain.module';
@import './Banner/BannerSecondary.module';
@import './Banner/BannerThree.module';

@import './Footer/Footer.module';

@import './Animations/Animations.scss';
@import './Animations/HoverAnimations.scss';

@import './Portfolio/Portfolio.module';

.layout {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
}  

