/* styles/globals.scss */

@font-face {
  font-family: 'Hussar';
  src: url('/typefaces/HussarBold.otf') format('opentype');
}

@font-face {
  font-family: 'Kanit-LightItalic';
  src: url('/typefaces/Kanit-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit-Medium';
  src: url('/typefaces/Kanit-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit-Regular';
  src: url('/typefaces/Kanit-Regular.ttf') format('truetype');
}

// Apply Hussar font to all headings
h1, h2, h3, h4, h5, h6, .name, .title, .githubLink {
  font-family: 'Hussar', sans-serif; /*Hussar currently not working*/
}

p {
  font-family: 'Kanit-Regular', sans-serif;
}

.fst-italic.fst-italic {
  font-family: 'Kanit-LightItalic', sans-serif;
}