.badge {
  background-color: red !important; /*currently unresponsive*/
  border-radius: 12px;
  padding: 3px;
} 

.readme-scroll {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .position-sticky {
    top: 0 !important;
    position: sticky !important;
  }
}

.carousel {
  height: 600px; // Set a fixed height for the carousel. Fail.

  .carousel-inner.carousel-inner {
    height: 100%; // Ensure the carousel inner fills the height
    display: flex !important; // TEST: Ensure the carousel inner uses flexbox. FAIL.
    align-items: center; // TEST: Vertically center the content within the carousel inner
  }

  .carousel-item {
    display: flex;
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically
    height: 100%; // Make sure the carousel item takes the full height
    background-color: rgb(255, 0, 0); // TEST: Temporary background color for inspection. FAIL.
  
    .carousel-img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain; // Ensure the image covers the container without distortion
      background-color: rgb(255, 0, 0); // TEST: Temporary background color for inspection. FAIL.
    }
  }
}